# ==========================
# Python
# ==========================
__pycache__/
# Compiled extensions
*.so

# ==========================
# Virtual Environment
# ==========================
venv/
.venv/
env/
ENV/

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# Python Packaging
# ==========================
build/
dist/
*.egg-info/
.eggs/

# ==========================
# Testing / Coverage
# ==========================
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# ==========================
# Type Checkers
# ==========================
.mypy_cache/
.pyre/
.ruff_cache/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Windows
# ==========================
Thumbs.db
Desktop.ini

# ==========================
# Logs
# ==========================
artifacts/
